Repository HYF-Class22/agile-development-group4-all-about-trees, pull requests merged in 2024-02, with the labels that each got.

#7 add-comm-info
  .cspell.json
  planning/communication.md
Labels: planning

#8 add backlog
  planning/backlog.md
Labels: documentation, planning

#11 add-constraints
  planning/constraints.md
Labels: planning

#18 add- development-strategy
  .cspell.json
  planning/development-strategy.md
  planning/user-personas.md
Labels: planning

#20 add-backlog
  planning/backlog.md
Labels: documentation, planning

#32 add- picks-article-and-footer-nav
  index.html
  styles/DSC03014-3fc9e2caf87d442fbd7def933ddcb896.webp
  styles/idtrees.jpg
  styles/index.css
Labels: html, css

#33 add retrospective
  planning/retrospective.md
Labels: documentation

#40 add intro html-css
  index.html
  styles/index.css
Labels: html, css
